body {
  font: 400 14px/1.8 Lato, sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(80, 80, 80);
  -webkit-user-select: none;

  -moz-user-select: -moz-none;

  -ms-user-select: none;

  user-select: none;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30; /*Navbar background*/
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.ShopTableCells {
  border: 1px solid black;
  height:35px;
  color:black; 
  background-color:rgb(88, 94, 122);
}
.ShopTableHeader {
  border: 1px solid black;
  height:35px;
  color:black; 
  background-color:rgb(121, 134, 187);
  table-layout: fixed;
  width: 100px;
}
.ShopTableSmall {
  border: 1px solid black;
  height:35px;color:black;
  background-color:rgb(121, 134, 187);
  table-layout: fixed;
  width: 50px;
}
.ShopTableOwned{
  border: 1px solid black;
  height:35px;
  color:rgb(255, 255, 255); 
  background-color:rgb(22, 22, 43);
  padding:0px 0px; 
  font-family:Arial;
}

.CombatLog{
  line-height:0.8;
  text-align: left;
}

.ShopTableSpecial{
  border: 1px solid black;
  height:35px;
  color:rgb(255, 255, 255); 
  background-color:rgb(170, 170, 255);
  padding:0px 0px; 
  font-family:Arial;
}

.toolTarget {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolTarget .toolHover {
  visibility: hidden;
  width: 300%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.toolTarget:hover .toolHover {
  visibility: visible;
}

.toolTarget2 {
  position: relative;
}

.toolTarget2 .toolHover2 {
  visibility: hidden;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.308);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -100%;
  left: 50%;
  margin-left: -25%;
}

.toolTarget2:hover .toolHover2 {
  visibility: visible;
}

